@import url(default.css);
#div586 {
	padding-bottom: 50px;
	display: block;
	width: 100%;
	float: left;
}
#div588 {
	width: 75%;
	float: right;
}
#div589 {
	padding-right: 30px;
	width: 25%;
	float: left;
}
#menuitem2 #pageMenu .menu {
	color: #212121;
	font-size: 16px;
	text-decoration: none;
	text-overflow: ellipsis;
	border: 1px solid #e0e0e0;
	margin-bottom: 5px;
	display: block;
	overflow: hidden;
	padding: 10px 15px;
	white-space: nowrap;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-ms-border-radius: 5px;
	     transition: .2s;
}
#menuitem2 #pageMenu .menu.menuActive,
#menuitem2 #pageMenu .menu:hover {
	color: #FFFFFF;
	background-color: #2F57D1;
	border-color: #2F57D1;
}
#content2 .object {
	padding-bottom: 40px;
	width: 100%;
	float: left;
}
#content2 .contentText {
	padding-bottom: 20px;
}
#content2 .objectTitle {
	  color:#2f57d1;
	  font-size: 24px;
	  font-weight: 700;
	  line-height: 1.2;
	  margin-bottom: 1em;
}
#content1 .cont_rattxt {
	clear: both;
}
#content1 .cont_rattxt .object-wrap {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
	margin-left: -2px;
	margin-right: -2px;
	display: inline-block;
	width: 33.333%;
	vertical-align: top;
}
#content1 .cont_rattxt .object {
	background-color: #f2f4f7;
	padding: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
#content1 .cont_rattxt .object .objectTitle {
	color: #2F57D1;
	font-weight: 600;
	padding-bottom: 15px;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 10px;
	min-height: 4em;
}
#content1 .cont_rattxt .object .objectNote {
	margin-bottom: 20px;
	display: block;
}
span.buttonSend {
	display: inline-block;
}
#content1 .cont_rattxt .objectNote span {
	color: #495263;
	font-size: 32px;
	font-weight: 700;
	line-height: 1;
	margin-left: 10px;
	margin-right: 3px;
	display: inline-block;
}
#content2 .link-price {
	color: #FFFFFF;
	background-color: #2F57D1;
	background-image: url(arrow-down.png);
	background-position: center right 20px;
	background-repeat: no-repeat;
	padding-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#content2 .link-price:hover {
	color: #2F57D1;
	background-color: #FFFFFF;
}

#content1 .content {
	padding-bottom: 60px;
}
#content2 .modal_block .contentTitle {
	font-size: 28px;
	font-weight: normal;
	text-align: left;
}
#content2 .modal_block {
	max-width: 100%;
	padding: 0;
}

#content2 .gs_form_mod {
	width: 100%;
}
select {
       font-size: 15px;
       font-family: Open Sans, sans-serif;
       background-color: #f2f4f7;
       border: none;
       padding: 14px 12px;
       -moz-border-radius: 10px;
       -webkit-border-radius: 10px;
       border-radius: 10px;
       -ms-border-radius: 10px;
       background: #f2f4f7;
}
.noprice {
	font-size: 22px !important;
}
#content2 .content {
	padding-bottom: 30px;
	width: 100%;
	float: left;
}
.quote_note {
	font-size: 19px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 30px;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
}
.t_reabil td {
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
}

.t_reabil tr:first-child {
	font-weight: bold;
	background-color: #E8F3FF;
	border-bottom: 1px solid #808080;
}
.t_reabil tr:first-child td:first-child {
	padding-left: 30px;
}
#menuitem2 {
	display: block;
}
.t_reabil td:first-child {
	padding-left: 10px;
}




#content1 {
	width: 100%;
	float: left;
}
.vkladki .linkBox .tab .link {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	background-color: #BBDBFF;
	margin-right: 5px;
	display: block;
	padding: 13px 30px;
}
.vkladki .linkBox .tab.active .link {
	background-color: #E8F3FF;
}
.vkladki .textBox {
	padding: 30px;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}











.vkladki .linkBox {
	margin-left: 10px;
}
#content2 .vkladki {
	padding-bottom: 80px;
	margin-top: -50px;
}
.quote_info {
	background-color: #E8F3FF;
	border: 1px solid #C0C0C0;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 45px 40px 40px 20px;
}
#content2 .contentTitle {
	font-size: 36px;
}

@media (max-width: 1199px) {
 #div589 {
	width: 30%;
 }  
 #div588 {
	width: 70%;
 } 
 .vkladki .linkBox .tab .link {
	padding: 13px 20px;
 }
}/*@media*/

@media (max-width: 991px) { 
 #div589 {
	display: none;
 } 
 #div588 {
	width: 100%;
 }  
 #div586 {
	padding-bottom: 0px;
 } 
 #content2 .contentText {
	padding-bottom: 0px;
 }  
}/*@media*/

@media (max-width: 767px) { 
 #content1 .cont_rattxt .object-wrap {
	width: 50%;
 } 
 #content1 .cont_rattxt .objectNote span {
	font-size: 24px;
 }    
 .vkladki .linkBox .tab .link {
	padding: 15px;
 }  
}/*@media*/

@media (max-width: 479px) {
 #content1 .cont_rattxt .object-wrap {
	width: 100%;
 }  
 span.buttonSend {
	padding: 10px 30px;
 } 
 .myformbody .req_row#name_z {
	padding-right: 0px;
	width: 100%;
 }  
 .myformbody .req_row#tel_z {
	padding-left: 0px;
	width: 100%;
 } 
 .myformbody .req_row {
	margin-bottom: 0px;
 }     
}/*@media*/

@media (max-width: 639px) {  
        
 .vkladki .linkBox table,
 .vkladki .linkBox tbody,
 .vkladki .linkBox tr,
 .vkladki .linkBox td {
       display: block;
 }  
 .vkladki .linkBox .sep {
	display: none;
 }  
 .vkladki .linkBox {
	margin-left: 0px;
	max-width: 350px;
 }    
 .vkladki .linkBox .tab .link {
	margin-right: 0px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#BBDBFF), to(#A6D0FF));
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#BBDBFF), to(#A6D0FF));
	background: -webkit-linear-gradient(#BBDBFF, #A6D0FF);
	background: -moz-linear-gradient(#BBDBFF, #A6D0FF);
	background: -ms-linear-gradient(#BBDBFF, #A6D0FF);
	background: -o-linear-gradient(#BBDBFF, #A6D0FF);
	background: linear-gradient(#BBDBFF, #A6D0FF);
 } 
 .vkladki .linkBox .tab.active .link {
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E8F3FF), to(#D7EAFF));
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E8F3FF), to(#D7EAFF));
	background: -webkit-linear-gradient(#E8F3FF, #D7EAFF);
	background: -moz-linear-gradient(#E8F3FF, #D7EAFF);
	background: -ms-linear-gradient(#E8F3FF, #D7EAFF);
	background: -o-linear-gradient(#E8F3FF, #D7EAFF);
	background: linear-gradient(#E8F3FF, #D7EAFF);
 }    
         
}/*@media*/
